body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.code-mirror-container {
  background: #eee;
}
div.CodeMirror {
  background: transparent;
}

.mode-buttons-container {
  display: flex;
  width: 100%;
  padding: 40px 0;
  align-items: center;
  justify-content: center;}

.mode-button {
  border: none;
  padding: 10px;
}

.mode-button-active {
  background: #66fa66;
}